h1{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Noto Serif', serif;

}
.form-group{
    font-size:25px;
}
.styled-table {
  
    font-size: large;
    
    width: 60%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Noto Serif', serif;
color:#000000;
margin-top: 140px;
margin-left: 230px;
}
a{
    margin-left: 1148px;
    font-family: 'Noto Serif', serif;
    font-size: 19px;
}
td{
    color:#000000;
    font-size: 25px;
}
.btn-light{
    font-size: 19px;
    font-family: 'Noto Serif', serif;

}
.d{
    font-size: 20px;
    font-family: 'Noto Serif', serif;
}
.form-control{
    font-size: 20px;
    font-family: 'Noto Serif', serif;
}
.has-info{
    text-align: center;
    color: black;
    font-family: 'Noto Serif', serif;
    font-size: 27px;    
}
button{
    margin-top: 20px;
    font-size: 19px;
    font-family: 'Noto Serif', serif;
}

a{
    width: 180px;
    height: 40px;
    margin-bottom: -220px;
    margin-left: 715px;
    
}
h4{

    font-size: 14px;
    color: white;
    
}
.container{
    margin-top: -150px;
    width: 70%;
}
.btn-dark.list{
    margin-left: 695px;
    width: 160px;
    height: 33px;
}

label{
    margin-left: 7px;
}