<!DOCTYPE html>
<html lang="en">
<head >
    <style>
        body {

        background-size: cover;
        background-position: center;
        }
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  class="container">

        <form [formGroup]="materialForm" (ngSubmit)="submitRegistration()" novalidate>
          <div *ngIf="validMessage  != ''">
            <h3 class="has-info">{{validMessage}}</h3>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" required autofocus/>
          </div>
        
          <div class="form-group">
            <label>Delivery Type</label>
            <!-- <input type="text" class="form-control" formControlName="deliveryType" required/> -->
            <select class="form-control" formControlName="deliveryType" required>
              <option *ngFor="let delivery of deliveryTypeList"
                      [ngValue]="delivery">
                      {{delivery.name}}
              </option>
            </select>
          </div>
        

          <button type="submit" class="btn btn-dark" >Submit</button>
        </form>
      </div>

</body>
</html>

