<div class="container">
    <div class="row">
      <a class="btn btn=primary" routerLink="/admin">Back to Invoice View Form</a>
    </div>
    <div *ngIf="billsRegistration">
      <div class="form-group">
        <label>ID</label>
        <div class="form-control">{{billsRegistration.id}}</div>
      </div>
      <div class="form-group">
        <label>Invoice Number</label>
        <input [readonly] = "readonly">
        <div class="form-control">{{billsRegistration.invoiceNumber}}</div>
      </div>
      <label>Material Or Execution</label>
      <div class="form-control">{{billsRegistration.materialAndExecution.name}}</div>
    </div>
    <div class="form-group">
      <label>Provider</label>
      <div class="form-control">{{billsRegistration.provider.name}}</div>
    </div>
      
      <div class="form-group">
        <label>Invoice Date</label>
        <div class="form-control">{{billsRegistration.invoiceDate}}</div>
      </div>
      <div class="form-group">
        <label>Unit Price</label>
        <div class="form-control">{{billsRegistration.unitPrice}}</div>
      </div>
      <div class="form-group">
        <label>Quantity</label>
        <div class="form-control">{{billsRegistration.quantity}}</div>
      </div>
      <div class="form-group">
        <label>TVA</label>
        <div class="form-control">{{billsRegistration.TVA}}</div>
      </div>
      <div class="form-group">
        <label>Total</label>
        <div class="form-control">{{billsRegistration.total}}</div>
      </div>
      <div class="form-group">
        <label>Paid Status</label>
        <div class="form-control">{{billsRegistration.paidStatus.name}}</div>
      </div>
       
        <!-- <div class="form-group">
        <label>Flat Block</label>
        <div class="form-control">{{billsRegistration.flatBlock.name}}</div>  -->

    <!-- </div> -->
  </div>
    