<div class="container">
    <div class="row">
      <a class="btn btn=primary" routerLink="/admin">Back to Flat Block Form</a>
    </div>
    <div>
      <div class="form-group">
        <label>ID</label>
        <div class="form-control">{{materialRegistration.id}}</div>
      </div>
      <div class="form-group">
        <label>Material Name</label>
        <div class="form-control">{{materialRegistration.name}}</div>
      </div>
      <div class="form-group">
        <label>Delivery Type</label>
        <div class="form-control">{{materialRegistration.deliveryType.name}}</div>
      </div>
    </div>
  </div>
