h1{
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 125px;
    font-family: 'Noto Serif', serif;

}


.styled-table {
    border-collapse: collapse;
    margin-left:450px; 
    margin-top: 80px;
    // font-size: 0.9em;
    // margin: 25px 0;

    // font-family: sans-serif;
    min-width: 400px;
    width: 45%;
    height: 210px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Noto Serif', serif;
    color:black;
// text-align: center ;
font-size: 22px;
margin-left: 310px;



}

.btn-dark{
font-size: 17px;
margin-bottom: -200px;
margin-left: 400px;
width: 120px;
height: 65px;
font-family: 'Noto Serif', serif;
}

p{
    margin-bottom: 73px;
    margin-top: -160px;
}
.form-control{
    font-family: 'Noto Serif', serif;
    font-size: 19px;
}