<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink='/home'>Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
     <ng-container *ngIf="isLoggedIn"> 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink='/bills'>Register invoice <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/provider'> Register provider <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/client'> Register client <span class="sr-only">(current)</span></a>
          </li>
      
          <li class="view" ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Register form
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a ngbDropdownItem class="dropdown-item" routerLink="/material">Material Register</a>
              <a ngbDropdownItem class="dropdown-item" routerLink="/deliveryType">Delivery Type Register</a>
              <a ngbDropdownItem class="dropdown-item" routerLink="/flatblock">Flatblock Register</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
           <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              View Registers
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a ngbDropdownItem class="dropdown-item" routerLink="/admin">Invoices View</a>
              <a ngbDropdownItem class="dropdown-item" routerLink="/provider/view">Provider View</a>
              <a ngbDropdownItem class="dropdown-item" routerLink="/client/view">Client View</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              View form
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a ngbDropdownItem class="dropdown-item" routerLink="/material/view">Material View Form</a>
              <a ngbDropdownItem class="dropdown-item" routerLink="/deliveryType/view">Delivery Type View Form</a>
              <a ngbDropdownItem class="dropdown-item" routerLink="/flatblock/view">Flatblock View Form</a>
              <div class="dropdown-divider"></div>
            </div>
        </ul>
      </div>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link" routerLink='/login' (click) ="logout()" value="logout"> Logout <span class="sr-only">(current)</span></a>
        </form>
     </ng-container> 
       <ng-container *ngIf="!isLoggedIn">
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link" routerLink='/login' value="logout"> Login <span class="sr-only">(current)</span></a>
        </form>
      </ng-container>
  </nav>