a{
    // margin-top: 0%;
    margin-right: 30px;
    // margin-top: 20px;
    // margin-bottom: 10px;
    color: #000;
    
}
.nav-link{
    color: #000;
    margin-left: 40px;
}
.navbar-nav.mr-auto{
    margin-right: 600px;
    color: #000;
}

// .dropdown-menu{
//     // margin-left: 20px;
//     margin-right: 50px;
//   }

// .view{
//     margin-left: 200px;
// }
// .view{
// margin-right: 500px;
// width: 100px;
// }
.register{
    margin-left: 830px;
    color: white;
    // color: #000;
    // font-family: "Lucida Console", "Courier New", monospace;
    margin-top: -8px;
    margin-right: 15px;
    
}
// a.logoutt{
//     color: black;
//     // margin-top: 50px;
//     margin-left: 825px;
//     font-size: 20px;
//     font-family: 'Noto Serif', serif; 
//     //    margin-top: -9px;
// }
h6{margin-left: 90px;
    font-size: 20px;
    font-family: 'Noto Serif', serif; 
    margin-bottom: -2px;
}
.dropdown-item{
    color: #000;
    font-size: 17px;
    margin-top: 5px;
    font-family: 'Noto Serif', serif;
}


.nav-link{color: #000;
    font-family: 'Noto Serif', serif;    font-size: 18px;
    
}
.aaa{
    color:white;
    font-size: 17px;
    font-family: 'Noto Serif', serif;
    width: 90px;
}
.dd{
    margin-top: 40px;
    color: white;
    font-size: 19px;
    font-family: 'Noto Serif', serif;}
.dropdown{
    margin-top: 1px ;
}
.navbar-brand{
    // color: #000;
    font-family: 'Noto Serif', serif;
    // margin-top: -2px;
    font-size: 23px;
    color: #f8f9fa;
}
.dropdown-menu.show{
    margin-top: 22px;
    width: 130%;
    text-align: center;
    margin-left: -50px;
}
.dropdown-menuu.show{
    margin-top: 22px;
    width: 125%;
    text-align: center;
    margin-left: -50px;
}
.navbar.navbar-expand-lg.navbar-dark{
height: 70px;    
background-color: black;
}
.reg{
    margin-top: -10px;
}
// a.logoutt{margin-left: 1000px;}
.login{
    margin-left: 1350px;
    color: white;
}
.nav-item.dropdown{
    color: white;
    margin-top: 7px;

}
.invoice{
    margin-top: 33px;
margin-right: 30px;
}

.provider{
    margin-top: 33px;
    margin-right: 30px;

}

.client{
    margin-top: 33px;
}
.view{
    margin-top: -9px;
}