a{
    // margin-top: 0%;
    margin-right: 30px;
    // margin-top: 20px;
    // margin-bottom: 10px;
    color: #000;
}
.nav-link{
    color: #000;
    margin-left: 40px;
}
.navbar-nav.mr-auto{
    margin-right: 600px;
    color: #000;
}

// .dropdown-menu{
//     // margin-left: 20px;
//     margin-right: 50px;
//   }

// .view{
//     margin-left: 200px;
// }
// .view{
// margin-right: 500px;
// width: 100px;
// }
.register{
    margin-left: 640px;
    // color: #000;
    // font-family: "Lucida Console", "Courier New", monospace;
    
}
.logoutt{
    color: white;
    // margin-top: 50px;
    margin-left: 25px;
    font-size: 20px;
    font-family: 'Noto Serif', serif; 
    //    margin-top: -9px;
}
.dropdown-item{
    color: #000;
    font-size: 17px;
    margin-top: 5px;
    font-family: 'Noto Serif', serif;
}


.nav-link{color: #000;
    font-family: 'Noto Serif', serif;    font-size: 18px;
    
}
.aaa{

    color:white;
    font-size: 18px;
    font-family: 'Noto Serif', serif;
}
.dd{
    margin-top: 40px;
    color: white;
    font-size: 19px;
    font-family: 'Noto Serif', serif;}
.dropdown{
    margin-top: 1px ;
}
.navbar-brand{
    // color: #000;
    font-family: 'Noto Serif', serif;
    // margin-top: -2px;
    font-size: 23px;
    color: #f8f9fa;
}
.dropdown-menu.show{
    margin-top: 15px;
    width: 148%;
    text-align: center;
    margin-left: -30px;
}
.navbar.navbar-expand-lg.navbar-dark{
height: 70px;    
background-color: black;}
.reg{
    margin-top: -10px;
}
// a.logoutt{margin-left: 1000px;}
.login{
    margin-left: 1350px;
    color: white;
}