a{
    // margin-top: 0%;
    margin-right: 30px;
    // margin-bottom: 10px;
    color: #000;
}
.nav-link{
    color: #000;
}
// .dropdown-menu{
//     // margin-left: 20px;
//     margin-right: 50px;
//   }

.view{
    margin-left: 200px;
}
.view{
margin-right: 500px;
}
.register{
    margin-left: 650px;
    color: #000;
}
.logoutt{
    color: #000;
    margin-top: 50px;
    margin-left: 25px;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}