<!DOCTYPE html>
<html lang="en">
<head >
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>REGISTER DELIVERY TYPE</h1>
    <div  class="container">
      <a class="btn btn-dark" routerLink="/deliveryType/view"><h4>Go to delivery type list</h4></a>
      <form [formGroup]="deliveryTypeForm" (ngSubmit)="submitRegistration()" class="styled-table" novalidate>
        
        <div *ngIf="deliveryTypeRegistration" class="form-group">
          <label>ID</label>
          <div class="form-control">{{deliveryTypeRegistration.id}}</div>
        </div>
        <div class="form-group">
          <label>Delivery type name</label>
          <input type="text" class="form-control" formControlName="name" required autofocus/>
          <div *ngIf="name?.touched && !name?.valid" class="alert alert-danger">
            <div *ngIf="name?.errors?.required">Field required.</div>
          </div>
        </div>
        <div *ngIf="validMessage  != ''">
          <h3 class="has-info">{{validMessage}}</h3>
        </div>
        <div class="sub"><button type="submit" class="btn btn-dark" ><h5>Submit</h5></button></div>
          
        </form>
      </div>
</body>
</html>

