h2{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;

}
.styled-table {
margin-left: 280px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Noto Serif', serif;
color:black solid;
font-size: 25px;
width: 50%;
margin-top: 160px;
}
.container{
    margin-top: -80px;
    align-content: center;
    
}
h1{
    margin-top: 0px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Noto Serif', serif;

}
.form-control{
    font-size: 20px;
    font-family: 'Noto Serif', serif;

}
a{
    margin-left: 745px;
    width: 90px;
    height: 80px;
    margin-bottom: -130px;
}
h4{
    margin-top: -2px;
    font-size: 16px;
    color: white;

}

.btn-dark{
    height: 35px;

}
h5{
    margin-top: 2px;
    color: white;

}
.form-group{
    margin-top: -60px;
}
a.btn-dark{
    margin-left: 682px;
    height: 50px;
    width: 155px;

}
.has-info{
    text-align: center;
    font-family: 'Noto Serif', serif;

}
label{
    margin-left: 7px;
}

