<div class="container">
  <p><a class="btn btn-light" routerLink="/">Register a new invoice</a></p>
  <table class="table table-bordered table-inverse">
    <tr>
      <th>ID</th>
      <th>Client name</th>
      <th>Provider</th>
      <th>Invoice number</th>
      <th>Material</th>
      <th>InvoiceDate</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>TVA %</th>
      <th>Total W/O TVA</th>
      <th>Total with TVA</th>
      <th>Paid Status</th>
      <th>Flat Block</th>
    </tr>
    <tr *ngFor="let bill of bills">
      <td [routerLink]="['/admin/view/', bill.id]" class="pointer">
        {{bill.id}}</td>
        <td>
          {{bill.client}}
        </td>
        <td>
          {{bill.provider.name}}
        </td>
      <td class="text-right">
        {{bill.invoiceNumber}}
      </td>
      <td>
        {{bill.material.name}}
      </td>
      <td>
        {{bill.invoiceDate}}
      </td>
      <td>
        {{bill.unitPrice}}
      </td>
      <td>
        {{bill.quantity}}
      </td>
      <td>
        {{bill.tva}}
      </td>
      <td>
        {{bill.totalWithoutTva}}
      </td>
      <td>
        {{bill.totalWithTva}}
      </td>
      <td>
        {{bill.paidStatus.name}}
      </td>
      <td>
        {{bill.flatBlock.name}}
      </td>

      <button [routerLink]="['/update']" (click)="updateBillById(bill.id,bill)" class="btn btn-light">Update Bill</button>
      <button *ngIf="bill" (click)="deleteBillById(bill.id)" class="btn btn-light">Delete Bill</button>

    </tr>
  </table>
</div>