<div class="container">
    <table class="table table-bordered table-inverse">
      <tr>
        <th>ID</th>
        <th>Invoice Number</th>
        <th>Unit Price</th>
        <th>Paid Status</th>
        <th>Material</th>
        <th>Provider</th>
        <!-- <th class="text-right"></th> -->
      </tr>
      <tr *ngFor="let bill of bills">
        <td>
          <!-- <a [routerLink] = "['/admin/view', bill.id]">{{bills.name}}</a> </td> -->
           {{bill.id}}
          </td>
        <td class="text-right">
          {{bill.invoiceNumber}}
        </td>
        <td>
            {{bill.unitPrice}}
        </td>
        <td>
            {{bill.paidStatus.name}}
        </td>
        <td>
            {{bill.material.name}}
        </td>
        <td>
            {{bill.provider.name}}
        </td>

      </tr>
    </table>
  </div>
