.view{
    margin-left: 1318px;
    
}
.view2{margin-top: 10px;
    text-align: right;
}
.container{
    margin-top: -60px;
    width: 60%;
    font-size: larger;
    height: 900px;
}
.styled-table {
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Noto Serif', serif;
    font-size: x-large;
color:black solid;
}
.form-control{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
}
h1{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Abril Fatface' ;

}
label{
    font-size: 25px;
}
.btn-dark.list{

font-size: 19px;
margin-top: -40px;
font-family: 'Abril Fatface' ;
margin-left: -275px;

}
.has-info{
    text-align: center;
    color: black;
    font-family: 'Noto Serif', serif;
font-size: 27px;
}
.btn-dark.submit{
    margin-top: 15px;
    height: 40px;
    font-size: 17px;

}