// h2{
//     margin-top: 20px;
//     text-align: center;
//     margin-bottom: 50px;

// }
// .view{
//     text-align: right;
// }
// .view2{margin-top: 10px;
//     text-align: right;
// }

.view{
    margin-left: 1318px;
    
}
.view2{margin-top: 10px;
    text-align: right;
}
.container{
    width: 70%;
    font-size: larger;
}
.styled-table {
    // border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Noto Serif', serif;
    font-size: x-large;
color:black solid;
}
.form-control{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
}
h1{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Abril Fatface' ;

}
label{
    font-size: 25px;
}
.btn-dark{
font-size: 19px;
margin-top: 20px;
font-family: 'Abril Fatface' ;
margin-left: -70px;

}
.has-info{
    text-align: center;
    color: white;
    font-family: 'Noto Serif', serif;
font-size: 27px;
}
