<!DOCTYPE html>
<html lang="en">
<head>
  
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>INVOICES</h1>
    <!-- <p><a class="btn btn-dark" routerLink="/bills">Register invoice</a></p> -->
      <!-- <table class="styled-table" *ngIf="bills">

      <tr>
        
        <th>Client name</th>
        <th>Provider</th>
        <th>Invoice number</th>
        <th>Material</th>
        <th>InvoiceDate</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>TVA %</th>
        <th>Total W/O TVA</th>
        <th>Total with TVA</th>
        <th>Paid Status</th>
        <th>Action</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let bill of bills">
        <td [routerLink]="['/bills/', bill.id]" class="pointer">
            {{bill.client.name}}
          </td>
          <td>
            {{bill.provider.name}}
          </td>
        <td >
          {{bill.invoiceNumber}}
        </td>
        <td>
          {{bill.material.name}}
        </td>
        <td>
          {{bill.invoiceDate|date:"dd/MM/yyyy"}}
        </td>
        <td>
          {{bill.unitPrice}}
        </td>
        <td>
          {{bill.quantity}}
        </td>
        <td>
          {{bill.tva}}
        </td>
        <td>
          {{bill.totalWithoutTva}}
        </td>
        <td>
          {{bill.totalWithTva}}
        </td>
        <td>
          {{bill.paidStatus.name}}
        </td>
        
  <td>
        <button [routerLink]="['/bills/',bill.id]" class="btn btn-light">Update</button>
      </td>  <td>
        <button *ngIf="bill" (click)="deleteBillById(bill.id)" class="btn btn-light">Delete</button></td>
      
      </tr>
    </table> -->

    <p>
      <input *ngIf = "isActive"
    
      #query
      (keyup)="filter(query.value)" matInput
      type="text" class="form-control search" placeholder="Search...">
      <button *ngIf="!isActive" (click)="switch()" class="btn btn-dark search"><i class="fa fa-search"></i></button>
  </p>
  <div class="mat-elevation-z8">
      <table class = "table table-striped table-hover"mat-table #table [dataSource]="dataSource" matSort >
<!--       
        <ng-container matColumnDef="id">
          <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let i"><h3>  {{ i.id }} </h3></td>
        </ng-container> -->
          <!-- ImageUrl Column -->
          <ng-container matColumnDef="client">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
            <td mat-cell *matCellDef="let i" [routerLink]="['/bills/',i.id]" class="pointer"><h3> {{i.client}} </h3></td>
          </ng-container>
          <!-- Title Column -->
          <ng-container matColumnDef="provider">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> Provider </th>
            <td mat-cell *matCellDef="let i"><h3>  {{ i.provider }} </h3></td>
          </ng-container>
          <!-- Price Column -->
          <ng-container matColumnDef="invoiceNumber">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Number </th>
            <td mat-cell *matCellDef="let i"><h3>  {{ i.invoiceNumber }} </h3></td>
          </ng-container>
          <ng-container matColumnDef="material">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> Material </th>
            <td mat-cell *matCellDef="let i"><h3>  {{ i.materialAndExecution}}</h3> </td>
          </ng-container>
          <ng-container matColumnDef="invoiceDate">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Date </th>
            <td mat-cell *matCellDef="let i"><h3>  {{ i.invoiceDate | date: 'shortDate' }}</h3> </td>
          </ng-container>
          <ng-container matColumnDef="unitPrice">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> Unit Price </th>
            <td mat-cell *matCellDef="let i"><h3>  {{ i.unitPrice }}</h3> </td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
            <td mat-cell *matCellDef="let i" ><h3>  {{ i.quantity }}</h3> </td>
          </ng-container>
          <ng-container matColumnDef="tva">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> TVA </th>
            <td mat-cell *matCellDef="let i"><h3>  {{ i.tva }}</h3> </td>
          </ng-container>
          <ng-container matColumnDef="paidStatus">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> Paid Status </th>
            <td mat-cell *matCellDef="let i"><h3> {{ i.paidStatus }}</h3> </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="action">Action</th>
            <td mat-cell *matCellDef="let i">
                <a [routerLink]="['/bills/',i.id]"> <h5>Update</h5></a>
            </td> </ng-container>

           <ng-container matColumnDef="action2">
            <th mat-header-cell *matHeaderCellDef class="action">Action</th>
            <td mat-cell *matCellDef="let i">
              <a [routerLink]="['/admin']" (click)="deleteBillById(i.id)"><h5>Delete</h5></a>
          </td> 
          </ng-container> 
          
          <!-- <tr>
            <th>Action</th>
          </tr>
          <tr *ngFor="let bill of bills">

          <td>
            <button [routerLink]="['/bills/',bill.id]" class="btn btn-light">Update</button>
          </td>
        </tr> -->
          <!-- Edit Column -->
           <!-- <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let p">
                  <a [routerLink]="['/admin/products/', p.key]">Edit</a>
              </td>
             </ng-container> -->


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
    </table>
    <p><a class="btn btn-dark" routerLink="/bills"><h3>Register invoice</h3></a></p>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  </div>

</body>
</html>
