h1{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Abril Fatface' ;
    font-size: 55px;

}
.styled-table {
    // border-collapse: collapse;
    margin: 25px 0;
    font-size:large;
    // font-family: sans-serif;
    font-family: 'Zilla Slab Highlight', serif;
    // font-family: 'Noto Serif', serif;
    // font-family: 'Noto Serif', serif;

    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    // font-family: 'Domine', serif;
color:black;


// color:black solid;
text-align: center ;
// margin-top: 50px;
// border-collapse: separate;
// border-spacing: 50px 0;
margin-left: -220px;



}
.container{
    
    text-align: right;
    // margin-left: 200px;
    font-family: 'Noto Serif', serif;
    
}
table{
    border-collapse: separate;
    border-spacing: 12px 0;
    // margin-right: 20px;
}
// td {
//     padding: 50px 0;
//   }
th,td{
padding-right: 28px;
padding-bottom: 15px;
}
td{
    font-size: 20px;
}
th{
    font-size: 24px;
}
a{
    margin-right: -193px;
    font-size: 18px;
}
.btn-light{
    font-size: 19px;
    font-family: 'Noto Serif', serif;
}