// h1{
//     margin-top: 50px;
//     text-align: center;
//     margin-bottom: 50px;
//     font-family: 'Abril Fatface' ;
//     font-size: 55px;

// }
// .styled-table {
//     // border-collapse: collapse;
//     margin: 25px 0;
//     font-size:large;
//     // font-family: sans-serif;
//     font-family: 'Zilla Slab Highlight', serif;
//     // font-family: 'Noto Serif', serif;
//     // font-family: 'Noto Serif', serif;

//     min-width: 400px;
//     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
//     // font-family: 'Domine', serif;
// color:black;


// // color:black solid;
// text-align: center ;
// // margin-top: 50px;
// // border-collapse: separate;
// // border-spacing: 50px 0;
// margin-left: -220px;



// }
// .container{
    
//     text-align: right;
//     // margin-left: 200px;
//     font-family: 'Noto Serif', serif;
    
// }
// table{
//     border-collapse: separate;
//     border-spacing: 12px 0;
//     // margin-right: 20px;
// }
// // td {
// //     padding: 50px 0;
// //   }
// // th,td{
// // padding-right: 28px;
// // padding-bottom: 15px;
// // }
// // td{
// //     font-size: 20px;
// // }
// // th{
// //     font-size: 24px;
// // }
// a{
//     margin-right: -193px;
//     font-size: 18px;
// }
// .btn-light{
//     font-size: 19px;
//     font-family: 'Noto Serif', serif;
// }
h1{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Noto Serif', serif;
    font-size: 55px;

}
// th{
//     text-align: center;
//     font-size: x-large;
// }
// .styled-table {
//     // border-collapse: collapse;
//     margin: 25px 0;
//     font-size: large;
//     // font-family: sans-serif;
//     // min-width: 400px;
//     width: 140%;
//     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
//     font-family: 'Noto Serif', serif;
// color:#000000;
// text-align: center ;
// margin-left: -230px;
// }
// a{
//     margin-left: 1148px;
//     font-family: 'Noto Serif', serif;
//     font-size: 19px;
// }
// td{
//     color:#000000;
//     font-size: 19px;
// }
// .btn-light{
//     font-size: 19px;
//     font-family: 'Noto Serif', serif;

// }
td{
    // text-align: center;
    color: #000;
    font-family: 'Noto Serif', serif;
    font-size: 19px;
    margin-top: 20px;
    // padding: 210px;
    

}
// .styled-table {
//     border-collapse: collapse;
//     margin: 25px 0;
//     font-size:large;
//     // font-family: sans-serif;
//     // min-width: 400px;
//     width: 50%;
//     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
//     font-family: 'Noto Serif', serif;
// color:black;
// margin-left: -240px;}


// // word-spacing: 50px;

table{
border-spacing: 12px 0;
border-collapse: separate;
// text-align:unset;
}

// .container{
//   margin-top: 50px;
// }
// a{
//     margin-left:1227px;
//     font-family: 'Zilla Slab Highlight', cursive;
    
// }
// table{
//     border-collapse: separate;
//     border-spacing: 28.5px ;
//     // margin-right: 60px;
// }



.mat-elevation-z8{
    width: 140%;
    margin-left: -222px;
}
.search{
    margin-left: 955px;
    font-size: 21px;
    font-family: 'Noto Serif', serif;
    border-radius: 12px;
    width: 270px;
   
    
}
.btn-dark{
margin-left: 0px;
margin-top: -15px;
font-size: 21px;
text-align: center;
width: 11%;
height: 51px;

// margin-top: 500px;
}
.btn-dark.search{
    margin-left: 1180px;
    width: 47px;
    height: 47px;
}
.title{

 
color: #6b705c;
font-size: 27px;
font-family: 'Noto Serif', serif;
margin-top: -40px;
margin-bottom: 41px;
}
.mat-elevation-z8{
width: 140%;

}
.action{
    font-size: 27px;
    font-family: 'Noto Serif', serif;
    
}
.act{
    font-size: 25px;
    font-family: 'Noto Serif', serif;

}
// .pag{
//     // width: 860px;
// margin-top: -58px;
// width: 150%;
// margin-left: 200px;

// }
mat-paginator{
    margin-left: 170px;
width: 87%;
height: 50px;
margin-top: -67px;
}
h3{
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}
h5{
margin-top: 15px;
margin-left: 32px;

}
.container{
    width: 70%;
}
h6{
    margin-left: 25px;
    font-size: 25px;
    margin-top: 10px;
}
h2{
    margin-top: -10px;

    font-size: 25px;
    margin-left: 18px;
}
