h1{
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 55px;

}

th{
    margin-left: -140px;
}

td{
    color: #000;
    font-family: 'Noto Serif', serif;
    font-size: 19px;
    margin-top: 20px;
}


table{
border-spacing: 12px 0;
border-collapse: separate;
}


.mat-elevation-z8{
    width: 140%;
    margin-left: -222px;
}
.search{
    margin-left: 980px;
    font-size: 21px;
    font-family: 'Noto Serif', serif;
    border-radius: 12px;
    width: 270px;
   
    
}
.btn-dark{
margin-left: 0px;
margin-top: -16px;
font-size: 21px;
text-align: center;
width: 11%;
height: 51px;

.btn-light{
    margin-left: 600px;
}

}
.btn-dark.search{
    margin-left: 1200px;
    width: 47px;
    height: 47px;
}
.btn-dark.search.ng.star-inserted{
    color: white;
    
}
.title{

 
color:black;
font-size: 25px;
font-family: 'Noto Serif', serif solid;
margin-top: -40px;
margin-bottom: 41px;
}
.mat-elevation-z8{
width: 140%;

}
.action{
    font-size: 27px;
    font-family: 'Noto Serif', serif;
    color: #000;
    
}
.act{
    font-size: 25px;
    font-family: 'Noto Serif', serif;

}

mat-paginator{
    margin-left: 135px;
width: 90%;
height: 50px;
margin-top: -67px;
}
h3{
    margin-top: 7px;
    font-size: 17px;
    color: white;
}
h5{
margin-top: 15px;
text-align: center;

font-size: 20px;
font-family: 'Noto Serif', serif;
color: #000;
}
.container{
    width:1080px;
    margin-left: 240px;
}
h6{
    margin-left: 25px;
    font-size: 25px;
    margin-top: 10px;
}
h2{
    margin-top: -10px;

    font-size: 25px;
    margin-left: 18px;
}
.tb{
    width: 30%;
}
.title{font-size: 160%;
}
.mat-sort-header-content {
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
h4{margin-left: 26px;
    
 display: inline-block;
}



