footer{height: 62%;
margin-bottom: -300px;}
.aaa{
   margin-top: -214px;
   margin-left: 600px;
}
li.payments{
    margin-left: -280px;
}
.c{
    margin-left: 95px;
}
.pp{
    margin-left: -250px;
}
.del{
    margin-top: -17px;
    font-size: 18px;
}
.card-footer{
    height: 60px;
    margin-left: 150px;
}
h6{
    margin-top: 19px;
    font-size: 18px;
}
.card-body{
    height: 150px;
  

}
.inner{
    margin-top: 100px;
}
h4{
    font-size: 21px;
    
  }
 