.avantaje-a, .avantaje-c {
    padding: 50px;
}

.avantaje-c {
    background-color: #29ABE2;
}
.avantaje-a, .avantaje-c {
    border-radius: 17px;
    color: #fff;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
* {
    font-family: Rubik,sans-serif;
}