h1{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Abril Fatface' ;
}
.view{
    text-align: right;
    font-family: "Lucida Console", "Courier New", monospace;
}
.view2{margin-top: 10px;
    text-align: right;
    font-family: "Lucida Console", "Courier New", monospace;
}
.styled-table {
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Noto Serif', serif;
    font-size: large;   
     color:black solid;
}
.container{
    width: 60%;
    font-size: larger;
    height: 1200px;
}
label{font-size: 25px;
}
.form-control{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
}

    .alert-danger{
        font-size: 20px;
    }
    .has-info{
        text-align: center;
        color: black;
        font-family: 'Noto Serif', serif;
    font-size: 27px;
    }
    .btn-dark.submit{
        margin-top: 20px;
        height: 40px;
        font-size: 17px;
    }
    