h1{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Noto Serif', serif;
    font-size: 55px;

}
// th{
//     // text-align: center;

    

// }
td{
    // text-align: center;
    color: #000;
    font-family: 'Noto Serif', serif;
    font-size: 19px;
    margin-top: 20px;
    // padding: 210px;
    

}
// .styled-table {
//     border-collapse: collapse;
//     margin: 25px 0;
//     font-size:large;
//     // font-family: sans-serif;
//     // min-width: 400px;
//     width: 50%;
//     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
//     font-family: 'Noto Serif', serif;
// color:black;
// margin-left: -240px;}


// // word-spacing: 50px;

table{
border-spacing: 12px 0;
border-collapse: separate;
// text-align:unset;
}

// .container{
//   margin-top: 50px;
// }
// a{
//     margin-left:1227px;
//     font-family: 'Zilla Slab Highlight', cursive;
    
// }
// table{
//     border-collapse: separate;
//     border-spacing: 28.5px ;
//     // margin-right: 60px;
// }



.mat-elevation-z8{
    width: 140%;
    margin-left: -222px;
}
.search{
    margin-left:708px;
    font-size: 21px;
    font-family: 'Noto Serif', serif;
    border-radius: 12px;
    width: 270px;
   
    
}
.btn-dark{
    margin-left: 0px;
    margin-top: -16px;
    font-size: 18px;
    text-align: center;
    width: 17%;
    height: 50px;
    
    // margin-top: 500px;
    }
.btn-dark.search{
    margin-left:933px;
    width: 45px;
    height: 45px;
}
.title{
 
color: #6b705c;
font-size: 27px;
font-family: 'Noto Serif', serif;
margin-top: -80px;
margin-bottom: 41px;
}
.mat-elevation-z8{
width: 70%;
margin-left: 200px;

}
.action{
    font-size: 27px;
    font-family: 'Noto Serif', serif;
    
}

mat-paginator{
    margin-left: 132px;
width: 83%;
height: 50px;
margin-top: -50px;
}
h3{
    margin-top: 1px;
    font-size: 16px;
}
h5{
margin-top: 15px;
}