<div class="container">
 <p> <a class="btn btn-light" routerLink="/material">Register a material</a></p>
    <table class="table table-bordered table-inverse">
      <tr>
          <th>ID</th>
        <th>Material Name</th>
        <th>Delivery Type</th>
        
        <!-- <th class="text-right"></th> -->
      </tr>
      <tr *ngFor="let material of material">
        <td [routerLink] = "['/admin/view-material/', material.id]" class="pointer">
            {{material.id}}
          </td>
        <td class="text-right">
          {{material.name}}
        </td>
        <td>
            {{material.deliveryType.name}}
          </td>
          <button *ngIf="material" (click)="deleteMaterialById(material.id)" class="btn btn-light">Delete material</button>
      </tr>
    </table>
  </div>
