h1{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Noto Serif', serif;

}

.styled-table {
    border-collapse: collapse;
    margin-left: 170px; 
    // font-size: 0.9em;
    // margin: 25px 0;

    // font-family: sans-serif;
    min-width: 400px;
    width: 65%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Noto Serif', serif;
    color:black;
text-align: center ;
font-size: 22px;


}
td{
    text-align: center;
}
.btn-dark{
font-size: 17px;
margin-left: 726px;
font-family: 'Noto Serif', serif;
}

