h1{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Noto Serif', serif;
    font-size: 55px;
}
th{
    text-align: center;
}
td{
    color: #000;
    font-family: 'Noto Serif', serif;
    font-size: 19px;
    margin-top: 20px;
}
table{
border-spacing: 12px 0;
border-collapse: separate;
}

.mat-elevation-z8{
    width: 140%;
    margin-left: -222px;
}
.container{width: 70%;}
.search{
    margin-left:663px;
    font-size: 21px;
    font-family: 'Noto Serif', serif;
    border-radius: 12px;
    width: 270px;
   
    
}
.btn-dark{
    margin-left: 0px;
    margin-top: -16px;
    font-size: 18px;
    text-align: center;
    width: 17%;
    height: 50px;
    
    }
.btn-dark.search{
    margin-left:888px;
    width: 45px;
    height: 45px;
}
.title{
 
color: black;

font-size: 22px;
font-family: 'Noto Serif', serif;
margin-top: -80px;
margin-bottom: 41px;
}
.mat-elevation-z8{
width: 70%;
margin-left: 200px;

}
.action{
    font-size: 27px;
    font-family: 'Noto Serif', serif;
    
}

mat-paginator{
    margin-left: 124px;
width: 83%;
height: 50px;
margin-top: -50px;
}
h3{
    font-size: 16px;
    color: white;
}
h5{
margin-top: 15px;
font-size: 17px;
text-align: center;
}
h6.d{
    margin-left: 90px;
    font-size: 22px;
}
h6.a{
    margin-left: 35px;
    font-size: 22px;
}

h6.n{
    margin-left: 52px;
    font-size: 22px;
}
h6{
    margin-top: 11px;
}