<navbar></navbar>


<!-- <div>
    <img [src]="myimage" alt="">
</div> -->

<router-outlet></router-outlet>

<!-- <ng-sidebar-container>
    <ng-sidebar [opened]="opened">
    <button (click)="toggleSidebar()">X</button>

    <p>Register forms</p> 
    <ul class="menu">
        <li class="nav-item">
            <a class="nav-link" routerLink='/bills'>Register invoice <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/provider'> Register provider <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/client'> Register client <span class="sr-only">(current)</span></a>
          </li>

    </ul>
    <p>View Forms</p>
    <ul class="menu">
        <li class="nav-item">
            <a class="nav-link" routerLink='/bills/view'>Invoice forms <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/provider/view'> Provider forms <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/client/view'> Client forms <span class="sr-only">(current)</span></a>
          </li>

    </ul>





    </ng-sidebar>
    <div ng-sidebar-content>
        <button (click)="toggleSidebar()">
            Open Sidebar
        </button>

    </div>
</ng-sidebar-container>
 -->

