<div class="container">
    <p><a class="btn btn-light" routerLink="/deliveryType">Register a new Delivery Type</a></p>
    <table class="table table-bordered table-inverse" *ngIf="deliveryType">
      <tr>
        <th>ID</th>
        <th>Delivery Type name</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let deliveryType of deliveryType">
        <td [routerLink]="['/deliveryType/view/', deliveryType.id]" class="pointer">
          {{deliveryType.id}}</td>

          <td>{{deliveryType.name}}</td>

          <td>
            <button [routerLink]="['/deliveryType/',deliveryType.id]" class="btn btn-light">Update deliveryType</button>
            <button *ngIf="deliveryType" (click)="deleteDeliveryTypeById(deliveryType.id)" class="btn btn-light">Delete deliveryType</button>
        </td>
      </tr>
    </table>
  </div>