.styled-table {
    // border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Noto Serif', serif;
color:black solid;
text-align: center ;

}
.container{
    // margin-right: 150px;
    margin-left: 430px;
    margin-top: 80px;
}
// .btn-light{
// word-spacing: 20px;
// }
