// .container{
//     margin: 40px;
// }
h2{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;

}
.view{
    text-align: right;
}
.view2{margin-top: 10px;
    text-align: right;
}