<!DOCTYPE html>
<html lang="en">
<head >
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>REGISTER INVOICE</h1>
  <div class="view"> <button type="submit" [routerLink] = "['/admin']" class="btn btn-dark" >Go to invoices list </button></div>
    <div  class="container">

        <form [formGroup]="billsform" (ngSubmit)="submitRegistration()" novalidate class="styled-table">
          

           <div *ngIf="billsRegistration" class="form-group"> 
             <label>ID</label>
            <div class="form-control">{{billsRegistration.id}}</div>
          </div>

          <div class="form-group">
            <label>Client</label>
            <select class="form-control" formControlName="client" required>
              <option *ngFor="let client of clientList"
                      [value]='client.name'>
                      {{client.name}}
              </option>
            </select>
            <div *ngIf="client?.touched && !client?.valid" class="alert alert-danger">
              <div *ngIf="client?.errors?.required">Field required.</div>
            </div>
          </div>
          <div class="form-group">
            <label>Provider</label>
            <select class="form-control" formControlName="provider" required>
              <option *ngFor="let provider of providerList"
                      [value]="provider.name">
                      {{provider.name}}
              </option>
            </select>
            <div *ngIf="provider?.touched && !provider?.valid" class="alert alert-danger">
              <div *ngIf="provider?.errors?.required">Field required.</div>
            </div>
          </div>
          <div class="form-group">
            <label>Invoice Number</label>
            <input type="text" class="form-control" formControlName="invoiceNumber" required/>
            <div *ngIf="invoiceNumber?.touched && !invoiceNumber?.valid" class="alert alert-danger">
              <div *ngIf="invoiceNumber?.errors?.required">Field required.</div>
            </div>
            </div>
          
          <div class="form-group">
            <label>Material Or Execution</label>
            <select class="form-control" formControlName="materialAndExecution" required>
              <option *ngFor="let material of materialList"
                      [value]="material.name">
                      {{ material.name}}
              </option>
            </select>
            <div *ngIf="materialAndExecution?.touched && !materialAndExecution?.valid" class="alert alert-danger">
              <div *ngIf="materialAndExecution?.errors?.required">Field required.</div>
            </div>
          </div>

          <div>
            <label>Invoice Date</label>
              <input type="date" class="form-control" formControlName="invoiceDate" required/>
              <div *ngIf="invoiceDate?.touched && !invoiceDate?.valid" class="alert alert-danger">
                <div *ngIf="invoiceDate?.errors?.required">Field required.</div>
              </div>
            </div>
          <div class="form-group">
            <label>Unit Price</label>
            <input type="number" class="form-control" formControlName="unitPrice" required/>
            <div *ngIf="unitPrice?.touched && !unitPrice?.valid" class="alert alert-danger">
              <div *ngIf="unitPrice?.errors?.required">Field required.</div>
            </div>
          </div>
          <div class="form-group">
            <label>Quantity</label>
            <input type="number" class="form-control" formControlName="quantity" required/>
            <div *ngIf="quantity?.touched && !quantity?.valid" class="alert alert-danger">
              <div *ngIf="quantity?.errors?.required">Field required.</div>
            </div>
          </div>
          <div class="form-group">
            <label>TVA%</label>
            <input type="number" step="0.01" class="form-control" formControlName="tva" required/>
            <div *ngIf="tva?.touched && !tva?.valid" class="alert alert-danger">
              <div *ngIf="tva?.errors?.required">Field required.</div>
            </div>
          </div>
          <div class="form-group">
            <label>Paid Status</label>
            <select class="form-control" formControlName="paidStatus" required>
              <option *ngFor="let status of statusList"
                      [value]="status.name">
                      {{status.name}}
              </option>
            </select>
            <div *ngIf="paidStatus?.touched && !paidStatus?.valid" class="alert alert-danger">
              <div *ngIf="paidStatus?.errors?.required">Field required.</div>
            </div>
          </div>

<!-- 
         <-- <div class="form-group">
            <label>Flat Block</label>
            <select class="form-control" formControlName="flatBlock" required>
              <option *ngFor="let flatBlock of flatBlockList"
                      [value]="flatBlock.name">
                      {{flatBlock.name}}
              </option>
            </select>
            <div *ngIf="flatBlock?.touched && !flatBlock?.valid" class="alert alert-danger">
              <div *ngIf="flatBlock?.errors?.required">Field required.</div>
            </div>
          </div> --> 
          <div *ngIf="validMessage  != ''">
            <h3 class="has-info">{{validMessage}}</h3>
          </div>

         <button type="submit" [disabled]="!billsform.valid" class="btn btn-dark" >Submit</button>
        

        </form>
      </div>

</body>
</html>
