.img-responsive{
width: 400px;
height: 300px;
margin-left: -50px;
margin-top: -90px;
}
.simplify{margin-top: -260px;
  margin-left: 550px;
  margin-bottom: 100px;

}
a{
  color: rgba(255, 255, 255, 0.7) !important;
}
.st{
  color: white;
height: 13px;
  
}

.reg{
  margin-left: -650px;
}
.text-left{
margin-left: -90px;
width: 1050px;
}
.col-md-12{margin-top: 0px;

}
.col-md-4{
  margin-top: 40px;
  margin-right: 80px;
}
.line{
  margin-top: 155px;
}
.imag{
  margin-left: 1000px;
  margin-top: -20px;
}
.txt{
  width: 50%;
  margin-left: 200px;
}
.pp{
  margin-top: -195px;
  font-size: 
  45px;
}
.inner{
  margin-top: 50px;
  height: 250px;}
.ppp{
  font-size: 18px;
  margin-top: 20px;}

.avantaje-a, .avantaje-c {
  padding: 50px;
}

.avantaje-c {
  background-color: #29ABE2;
  
}
.avantaje-a, .avantaje-c {
  border-radius: 17px;
  color: #fff;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
* {
  font-family: Rubik,sans-serif;
}
.col-lg-4.col-md-4.avantaj{
  margin-left: 150px;
}
.col-lg-4.col-md-4.avantaje{
  margin-left: 505px;
  margin-top: -525px;
}
.col-lg-4.col-md-4.row{
  margin-left: 100px;
  
}
.container-fluid.conta-5{
  width: 70%;
}
.col-xs-10{
  margin-top: 100px;
  margin-left: -100px;
}
.col-lg-4.col-md-4.avantaje-b{
  margin-top: -320px;
  margin-left: 505px;
 


}
.col-lg-4.col-md-4.avantaje-c{
  margin-left: 470px;
  margin-top: -170px;

}
.av-img {
  border-radius: 55%;
  margin-top: -70px;
  margin-left: 80px;
}

.av-text{

  font-family: 'Noto Serif', serif;
font-size: 17px;
width: 400px;
}
.av-title{
  font-family: 'Noto Serif', serif;
font-size: 20px;
}

.categ-av {
  margin-left: -45px;
  margin-top: 40px;
  font-size: 45px;
  color: #fff;
  text-align: left;
  width: 400px;

}
h2.title{
  margin-top: 20px;
  text-align: center;
  font-family: 'Noto Serif', serif;
}
h3.subtitle{
  font-family: 'Noto Serif', serif;
  text-align: center;
  margin-bottom: 30px;
}
.img.img-responsive.shadow{
  margin-top: -30px;
  margin-left: 60px;
}

.btn-dark{
  margin-top: 120px;
  margin-left: -200px;
  width: 140px;
}
.bif{margin-bottom: 10px;}
.avantaje-c.row{
  height: 665px;
}
li{color: rgba(255, 255, 255, 0.7) !important; 
  font-family: 'Noto Serif', serif;
}
.small.text-muted.mb-4{
  font-family: 'Noto Serif', serif;
font-size: 15px;
}
.small.text-muted{
  font-family: 'Noto Serif', serif;
font-size: 15px;
}
span{
  font-family: 'Noto Serif', serif;
  font-size: 20px;

}
a{  font-family: 'Noto Serif', serif;
  
}
#wrapwrap > footer .o_footer_links a, #wrapwrap > footer .o_footer_copyright a {
  font-size: 16px;
  font-weight: 500;
}
span.bold{
  font-size: 45px;
  margin-left: 23px;
}

.about{
  margin-bottom: -80px;
}
i{width: 60px;}

.o_footer {
  background-color: #212529;
  color: #ffffff;
height: 400px;}

.display-2.fw_regular.mb16.mt0{
font-size: 65px;
// width: 180px;
margin-top: 90px;
margin-left: -100px;

}
.mb0.fw_regular{
  font-size: 23px;
margin-left: -100px;
margin-top: 20px;
}
.mt32.mb8.btn.btn-primary.o_btn_cta{
  margin-top: 25px;
  font-family: 'Noto Serif', serif;
  
 
  // margin-left: -100px;
}
// }
// .btn.btn-dark.login{
//   margin-top: 0px;

// }
.log{margin-top: -110px;
margin-left: 223px;
}
.bg-white.text-center{
  margin-top: 50px;
  margin-bottom: 40px;

}
.col-sm-4.mt48.mb48{
  margin-top: 30px;
}
.da{
  margin-left: 150px;
  margin-top: 50px;

}

.col-xs-12.col-sm-6.col-md-3{
  margin:15px;
  // height: 200px;
}

.card.o_card_app.shadow{
  margin-top: -20px;
  height: 180px;
  margin-bottom: 50px;
} 

.bg-gray-lighter{
  margin-top: -60px;
  width: 100%;
  background-color: #F8F9FA;
}
.text{
font-size: 10px;}

.single_feature.naked{
  height: 300px;
}
.avantaje-c.row{
  height: 700px;
}
.bg-white.text-center-xs{
  margin-top: 150px;


}
.img.img-responsive.sim{
  margin-top: 80px;
  margin-left: 50px;


}
.mb32{
  margin-top: 30px;
  width: 500px;
  margin-left: 50px;
}

.display-3.mt0.mb8.ac{
  margin-top: -80px;
  margin-left: 125px;
  font-size: 60px;
  // width: 600px;
}
.text-center-sm{
  margin-top: 80px;
}
.bg-white.text-center-xs{
  background-color: red;
}

.col-sm-10.col-sm-offset-1.col-md-5.col-md-offset-0.mb48.access{
  margin-top: -80px;
  margin-left: 70px;

}
.display-3.mt0.mb8.acc{
font-size: 60px;
margin-top: 30px;

}
.mb323{
  margin-top: 30px;
  font-size: 22px;
}
.col-sm-10.col-sm-offset-1.col-md-6.mb48.r{
  margin-top: 0px;
  margin-left: 20px;
}
.simm{
  background-color: #F8F9FA;
   
}


