<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
</head>
<body>
      


<div class="container">
      <a href="registering"> <h2>REGISTER FORMS</h2></a>
      <a href="registering">    <img alt="Stamp" width="350px"  src="/assets/feature.png"></a></div>

<div class="text"><h3>Since the advent of the computer era, people and businesses have found it easier to rely on electronic invoicing as an alternative to paper documents. Electronic invoicing, or e-invoicing, is a form of electronic billing to generate, store and monitor transaction-related documents between parties and ensure the terms of their agreements are fulfilled.

      These e-documents may include invoices and receipts, purchase orders, debit and credit notes, payment terms and instructions, and remittance slips.</h3></div>

<div class="container2">
 <a href="viewspage"><h2>VIEW FORMS</h2><br>
        <img alt="Stamp" width="170px" src="/assets/shuts.jpg"></a>
  


</div>

</body>
</html>

