<div class="container">
    
    <td><h2>REGISTER FORMS</h2>
        <img alt="Stamp" width="400px"  src="/assets/main_contabilitate.png">
       <a href="client"> <h3>REGISTER CLIENT</h3></a>
<a href="bills"><h3>REGISTER INVOICE</h3> </a>
<a href="provider"><h3>REGISTER PROVIDER</h3> </a></td>

    
    <td><h2>VIEW FORMS</h2>
        <img alt="Stamp" width="320px" src="/assets/view.jpg">
       <a href="client/view"> <h3>VIEW CLIENT</h3></a>
<a href="admin"><h3>VIEW INVOICES</h3> </a>
<a href="provider/view"><h3>VIEW PROVIDERS </h3> </a></td>


</div>

