.img-responsive{
width: 400px;
height: 300px;
margin-left: -50px;
margin-top: -90px;
}
.simplify{margin-top: -240px;
  margin-left: 550px;
  margin-bottom: 100px;

}

.reg{
  margin-left: -650px;
}
.text-left{
margin-left: -90px;
width: 1050px;
}
.col-md-12{margin-top: 0px;

}
.col-md-4{
  margin-top: 40px;
  margin-right: 80px;
}
.line{
  margin-top: 155px;
}
.imag{
  margin-left: 1000px;
  margin-top: -20px;
}
.txt{
  width: 50%;
  margin-left: 200px;
}
.pp{
  margin-top: -195px;
}
.inner{
  margin-top: 50px;
  height: 250px;}
.ppp{margin-top: 20px;}

.avantaje-a, .avantaje-c {
  padding: 50px;
}

.avantaje-c {
  background-color: #29ABE2;
  
}
.avantaje-a, .avantaje-c {
  border-radius: 17px;
  color: #fff;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
* {
  font-family: Rubik,sans-serif;
}
.col-lg-4.col-md-4.avantaj{
  margin-left: 150px;
}
.col-lg-4.col-md-4.avantaje{
  margin-left: 505px;
  margin-top: -480px;
}
.col-lg-4.col-md-4.row{
  margin-left: 100px;
}
.container-fluid.conta-5{
  width: 70%;
}
.col-xs-10{
  margin-top: 100px;
  margin-left: -100px;
}
.col-lg-4.col-md-4.avantaje-b{
  margin-top: -310px;
  margin-left: 505px;
 


}
.col-lg-4.col-md-4.avantaje-c{
  margin-left: 470px;
  margin-top: -170px;
}
.av-img {
  border-radius: 55%;
  margin-top: -70px;
  margin-left: 80px;
}
.av-text{
  font-family: 'Noto Serif', serif;
font-size: 15px;
}
.av-title{
  font-family: 'Noto Serif', serif;
font-size: 17px;
}

.categ-av {
  margin-left: -20px;
  margin-top: 40px;
  font-size: 40px;
  color: #fff;
  text-align: left;

}
h2.title{
  margin-top: 20px;
  text-align: center;
  font-family: 'Noto Serif', serif;
}
h3.subtitle{
  font-family: 'Noto Serif', serif;
  text-align: center;
  margin-bottom: 30px;
}
.img.img-responsive.shadow{
  margin-top: -30px;
  margin-left: 60px;
}

.btn-dark{
  margin-top: 120px;
  margin-left: -200px;
  width: 140px;
}
.bif{margin-bottom: 10px;}
.avantaje-c.row{
  height: 665px;
}
li{color: rgba(255, 255, 255, 0.7) !important; 
  font-family: 'Noto Serif', serif;
}
.small.text-muted.mb-4{
  font-family: 'Noto Serif', serif;
font-size: 15px;
}
.small.text-muted{
  font-family: 'Noto Serif', serif;
font-size: 15px;
}
span{
  font-family: 'Noto Serif', serif;
  font-size: 20px;

}
a{  font-family: 'Noto Serif', serif;
  
}
#wrapwrap > footer .o_footer_links a, #wrapwrap > footer .o_footer_copyright a {
  font-size: 16px;
  font-weight: 500;
}
span.bold{
  font-size: 45px;
  margin-left: 23px;
}

.about{
  margin-bottom: -80px;
}

