// // // *{
// // //     box-sizing: border-box;
// // // }
// // .container{
// // align-content: center;
// //         margin-top: 20px;  
// //         margin-left: 300px; 
// //         position: center;
// //         // right: 50px;
// //         // width: 100px;
// //         // border: 3px solid #73AD21;
// //         padding: 10px;
        
      
// // }

// // img {
// //     margin: 30px;
// //     // margin-right: 80px;
// //     align-content: center;
// //   }
// //   h2{margin-top: 50px;
// //       text-align: center;
// //     //   display: inline-block;
// //     //   display:inline-block;
// //     //   margin-right: 50px;
// //     color: black;
      
// //   }
// //   h3{
// //     text-align: center;
// //     // display: flex;
// //   //   display:inline-block;
// //   //   margin-right: 50px;
// //   color: black;
    
// // }

// // .container{
// //   position: absolute;
// //   top: 10%;
// //   // width: 100%;
// //   text-align: center;
// //   font-size: 18px;
//   // margin-top: -180px;
//   // margin-left: -200px;
//   // margin-right: 300px;


// // }
// .container2{
//   position: absolute;
//   top: 10%;
//   // width: 100%;
//   text-align: center;
//   font-size: 18px;
//   margin-left: 950px;
 
// }
// .h2{
//   margin-bottom: 400px;
 
// }
// .text{
//   position: absolute;
//   top: 47%;
//   width: 40%;
//   text-align: center;
//   font-size: 18px;
//   margin-left: 300px;
//   margin-top: -180px;
//   // margin-left: 150px;
//   color: white;
//   font-family: 'New Tegomin', serif;
// }
//  h2{
//    color: #000;
//    font-family: 'Noto Serif', serif;
   
//  }
// .card{
//   margin-top: 50px;
//   width: 220px;
//   margin-left: 400px;
// }
// .container3{
//   margin-left: 1000px;

// }
// .im{margin-left: 1000px;}
// .imag{
//   margin-top: 150px;
// }
// .s{
//   margin-top: 50px;
// }
// .container6{
//   height: 50px;
// }
// section{
//   margin-top: 50px;
//   height: 250px;
// }
// .first{
//   height: 100px;
// }
// .bg-gray-lighter{
//   margin-top: 0px;
// }
// .f{
//   margin-top: 300px;
// }
// .card1{margin-top: 520px;
// }
// .bg-white{
//   margin-top: 50px;
//   width: 90%;
//   margin-left: 100px;
  
// }
// i{
//   margin-top: 20px;
// }
// h5{
//   margin-top: 20px;
// }
// .ddd{
//   margin-top: 1000px;
//   margin-left: 300px;
// }
// .lazyload{margin-left: -1200px;
// margin-top: -450px;
// height: 300px;
// }
// .container7{
// margin-top: 450px;

// }


.img-responsive{
width: 400px;
height: 300px;
margin-left: -50px;
margin-top: -90px;
}
.simplify{margin-top: -240px;
  margin-left: 550px;
  margin-bottom: 100px;

}

.reg{
  margin-left: -650px;
}
.text-left{
margin-left: -90px;
width: 1050px;
}
.col-md-12{margin-top: 0px;

}
.col-md-4{
  margin-top: 40px;
  margin-right: 80px;
}
.line{
  margin-top: 155px;
}
.imag{
  margin-left: 1000px;
  margin-top: -20px;
}
.txt{
  width: 50%;
  margin-left: 200px;
}
.pp{
  margin-top: -195px;
}
.inner{
  margin-top: 50px;
  height: 250px;}
.ppp{margin-top: 20px;}

.avantaje-a, .avantaje-c {
  padding: 50px;
}

.avantaje-c {
  background-color: #29ABE2;
}
.avantaje-a, .avantaje-c {
  border-radius: 17px;
  color: #fff;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
* {
  font-family: Rubik,sans-serif;
}
.col-lg-4.col-md-4.avantaj{
  margin-left: 150px;
}
.col-lg-4.col-md-4.avantaje{
  margin-left: 490px;
  margin-top: -480px;
}
.col-lg-4.col-md-4.row{
  margin-left: 100px;
}
.container-fluid.conta-5{
  width: 70%;
}
.col-xs-10{
  margin-top: 100px;
  margin-left: -100px;
}
.col-lg-4.col-md-4.avantaje-b{
  margin-top: -310px;
  margin-left: 490px;

}
.col-lg-4.col-md-4.avantaje-c{
  margin-left: 455px;
  margin-top: -170px;
}
.av-img {
  border-radius: 55%;
  margin-top: -70px;
  margin-left: 80px;
}
.categ-av {
  margin-left: -20px;
  margin-top: 40px;
  font-size: 40px;
  color: #fff;
  text-align: left;

}
h2.title{
  margin-top: 20px;
  text-align: center;
}
h3.subtitle{
  text-align: center;
  margin-bottom: 30px;
}
.img.img-responsive.shadow{
  margin-top: -30px;
  margin-left: 60px;
}


// element.style {
//   padding-bottom: 42%;
//   background-image: url('//odoocdn.com/openerp_website/static/src/img/2016/invoicing/invoicing_top_banner.jpg');
//   background-position: right center;
// }
.btn-dark{
  margin-top: 120px;
  margin-left: -200px;
  width: 140px;
}
.bif{margin-bottom: 10px;}
.avantaje-c.row{
  height: 665px;
}