// *{
//     box-sizing: border-box;
// }
.container{
align-content: center;
        margin-top: 20px;  
        margin-left: 300px; 
        position: center;
        // right: 50px;
        // width: 100px;
        // border: 3px solid #73AD21;
        padding: 10px;
        
      
}

img {
    margin: 30px;
    // margin-right: 80px;
    align-content: center;
  }
  h2{margin-top: 50px;
      text-align: center;
    //   display: inline-block;
    //   display:inline-block;
    //   margin-right: 50px;
    color: black;
      
  }
  h3{
    text-align: center;
    // display: flex;
  //   display:inline-block;
  //   margin-right: 50px;
  color: black;
    
}
 