<div class="container">
  <h2>FLATBLOCKS</h2>
    <div class="row">
      <p> <a class="btn btn-light" routerLink="/flatblock">Register a flatblock </a></p>
      </div>
    <table class="table table-bordered table-inverse">
      <tr>
          <th>ID</th>
        <th>Flat Block Name</th>
        <th>Construction Type</th>
        <th>Action</th>
       
        
        <!-- <th class="text-right"></th> -->
      </tr>
      <tr *ngFor="let flatblock of flatblockRegistration">
        <td [routerLink]="['/flatblock/view/',flatblock.id]" class="pointer">
        
            {{flatblock.id}}
          </td>
        <td >
            {{flatblock.name}}
        </td>
        <td>
            {{flatblock.constructionType.name}}
          </td>
          <button *ngIf="flatblock" (click)="deleteFlatblockById(flatblock.id)" class="btn btn-light">Delete </button>
        
      </tr>
    </table>
  </div>
