<div class="container">
    <table class="table table-bordered table-inverse">
      <tr>
          <th>ID</th>
        <th>Flat Block Name</th>
        <th>Construction Type</th>
        
        <!-- <th class="text-right"></th> -->
      </tr>
      <tr *ngFor="let flatblock of flatblockRegistration">
        <td>
            {{flatblock.id}}
          </td>
        <td class="text-right">
          {{flatblock.name}}
        </td>
        <td>
            {{flatblock.constructionType}}
          </td>
      </tr>
    </table>
  </div>
