<div class="container">
  <h2>PROVIDERS</h2>
  <p><a class="btn btn-light" routerLink="/provider" >Register a new provider</a></p>
  <table class="table table-bordered table-inverse">
    <tr>
      <th>ID</th>
      <th>Provider Name</th>
      <th>C.I.F</th>
      <th>Description</th>
      <th>Address</th>
      <th>Country</th>
      <th>Telephone</th>
      <th>IBAN</th>
      <th>Bank</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let provider of provider">
      <td [routerLink]="['/provider/view/', provider.id]" class="pointer">
        {{provider.id}}</td>
      <td class="text-right">
        {{provider.name}}
      </td>
      <td>
        {{provider.cif}}
      </td>
      <td>
        {{provider.description}}
      </td>
      <td>
        {{provider.address}}
      </td>
      <td>
        {{provider.country}}
      </td>
      <td>
        {{provider.telephone}}
      </td>
      <td>
        {{provider.iban}}
      </td>
      <td>
        {{provider.bank}}
      </td>
      <td>
        {{provider.email}}
      </td>

      <button [routerLink]="['/provider/', provider.id]" class="btn btn-light">Update</button>
      <button *ngIf="provider" (click)="deleteProviderById(provider.id)" class="btn btn-light">Delete</button>

    </tr>
  </table>
</div>

