h1{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Noto Serif', serif;
    font-size: 55px;

}
th{
    text-align: center;
    color: #6b705c;
    font-size: x-large;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size:large;
    // font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Noto Serif', serif;
color:black;
margin-left: -240px;


// word-spacing: 50px;
}
table{
border-spacing: 12px 0;
border-collapse: separate;
}

.container{
    text-align: center;
}
a{
    margin-left:1227px;
    font-family: 'Zilla Slab Highlight', cursive;
    
}
table{
    border-collapse: separate;
    border-spacing: 23.5px ;
    // margin-right: 60px;
}
td {
    padding-right: 20px 0;
  }
th,td{
margin: 40px;
}