<div class="container">
  <p> <a class="btn btn-light" routerLink="/provider">Register a provider</a></p>
    <table class="table table-bordered table-inverse">
      <tr>
          <th>ID</th>
        <th>Provider Name</th>
        <th>Description</th>
        
        <!-- <th class="text-right"></th> -->
      </tr>
      <tr *ngFor="let provider of provider">
        <td [routerLink] = "['/admin/view-provider/', provider.id]" class="pointer">
            {{provider.id}}
          </td>
        <td class="text-right">
          {{provider.name}}
        </td>
        <td>
            {{provider.description}}
          </td>
      </tr>
    </table>
  </div>
