h1{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Noto Serif', serif;


}

.form-control{
    font-family: 'Noto Serif', serif;
font-size: 18px;
color: #000;
}
.btn-dark{
    margin-left: 655px;
    font-family: 'Noto Serif', serif;
    margin-bottom: -20px;
    color: white;

}
.form-group{
    font-family: 'Noto Serif', serif;
    font-size: 23px;

}
.container{
    width: 55%;
    height: 1000px;
}