<div class="container">
    <div class="row">
      <a class="btn btn=primary" routerLink="/fiscalbill/view">Back to Invoice View Form</a>
    </div>
    <div *ngIf="fiscalBillRegistration">
      <div class="form-group">
        <label>ID</label>
        <div class="form-control">{{fiscalBillRegistration.id}}</div>
      </div>
      <div class="form-group">
        <label>Provider</label>
        <div class="form-control">{{fiscalBillRegistration.provider}}</div>
      </div>
      <label>C.I.F</label>
      <div class="form-control">{{fiscalBillRegistration.cif}}</div>
    </div>

    <div class="form-group">
      <label>Social Capital</label>
      <div class="form-control">{{fiscalBillRegistration.socialCapital}}</div>
    </div>
      
      <div class="form-group">
        <label>Headquartes</label>
        <div class="form-control">{{fiscalBillRegistration.headquarters}}</div>
      </div>
      <div class="form-group">
        <label>County</label>
        <div class="form-control">{{fiscalBillRegistration.county}}</div>
      </div>
      <div class="form-group">
        <label>Bank</label>
        <div class="form-control">{{fiscalBillRegistration.bank}}</div>
      </div>
      
    </div>
    
