<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
  <h1>CLIENTS</h1>
    <!-- <table class="table table-bordered table-inverse"> -->
      <!-- <table class="styled-table">
      <tr>
        <th>Client name</th>
        <th>C.I.F</th>
        <th>County</th>
        <th>Telephone</th>
        <th>Address</th>
        <th>Email</th>
        <th>Action</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let client of client">
        <td [routerLink]="['/client/view/', client.id]" class="pointer">
          
          {{client.name}}
        </td>
        <td>
          {{client.cif}}
        </td>
        <td>
          {{client.county}}
        </td>
        <td>
          {{client.telephone}}
        </td>
        <td>
          {{client.address}}
        </td>
        <td>
          {{client.email}}
        </td>
  
        <button [routerLink]="['/client/', client.id]" class="btn btn-light">Update</button>
        <td>
        <button *ngIf="client" (click)="deleteClientById(client.id)" class="btn btn-light">Delete</button>
      </td>
      </tr>
    </table> -->
    <p>
      <input *ngIf = "isActive"
    
      #query
      (keyup)="filter(query.value)" matInput
      type="text" class="form-control search" placeholder="Search...">
      <button *ngIf="!isActive" (click)="switch()" class="btn btn-dark search"><i class="fa fa-search"></i></button>
    </p>

    <div class="mat-elevation-z8">
      <table class = "table table-striped table-hover"mat-table #table [dataSource]="dataSource" matSort >
      
          <!-- ImageUrl Column -->
          <ng-container matColumnDef="name">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> Client name</th>
            <td mat-cell *matCellDef="let c"><h5> {{c.name}} </h5></td>
          </ng-container>
          <!-- Title Column -->
          <ng-container matColumnDef="county">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> County </th>
            <td mat-cell *matCellDef="let c"><h5>  {{ c.county }}</h5> </td>
          </ng-container>
          <!-- Price Column -->
          <ng-container matColumnDef="cif">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> C.I.F</th>
            <td mat-cell *matCellDef="let c"><h5>  {{ c.cif }}</h5> </td>
          </ng-container>
          <ng-container matColumnDef="telephone">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> Telephone </th>
            <td mat-cell *matCellDef="let c"><h5>  {{ c.telephone}}</h5> </td>
          </ng-container>
          <ng-container matColumnDef="address">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
            <td mat-cell *matCellDef="let c"><h5>  {{ c.address }}</h5> </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
            <td mat-cell *matCellDef="let c"><h5> {{ c.email }}</h5> </td>
          </ng-container>

            <!-- Edit Column -->
          <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="action">Action</th>
              <td mat-cell *matCellDef="let c">
                  <a [routerLink]="['/client/', c.id]"><h5>Update</h5></a>
              </td> 
            </ng-container> 
             <ng-container matColumnDef="action2">
              
              <th mat-header-cell *matHeaderCellDef class="action">Action  </th>
              <td mat-cell *matCellDef="let c">
                <a [routerLink]="['/client/view']" (click)="deleteClientById(c.id)"><h5>Delete</h5></a>
            </td> 
            </ng-container> 
            <!-- <button *ngIf="client" (click)="deleteClientById(client.id)" class="btn btn-light">Delete</button> -->
            
            <!-- <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let c">
                  <button *ngIf="client" (click)="deleteClientById(c.id)">Delete</button>
              </td> 
              
            </ng-container>  -->
            <button *ngIf="client" (click)="deleteClientById(client.id)" class="btn btn-light">Delete</button>
           
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <p><a class="btn btn-dark"  routerLink="/client"><h3>Register client</h3></a></p>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div></div>



  
</body>
</html>
