h1{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Noto Serif', serif;
    font-size: 55px;

}
td{
    color: #000;
    font-family: 'Noto Serif', serif;
    font-size: 19px;
    margin-top: 20px;
}


table{
border-spacing: 12px 0;
border-collapse: separate;
}

.mat-elevation-z8{
    width: 140%;
    margin-left: -222px;
}
.search{
    margin-left: 864px;
    font-size: 21px;
    font-family: 'Noto Serif', serif;
    border-radius: 12px;
    width: 270px;
   
    
}
.btn-dark{
margin-left: 0px;
margin-top: -16px;
font-size: 21px;
text-align: center;
width: 11%;
height: 54px;
}
.btn-dark.search{
    margin-left: 1086px;
    width: 47px;
    height: 47px;
}
.title{
color: #6b705c;
font-size: 27px;
font-family: 'Noto Serif', serif;
margin-top: -80px;
margin-bottom: 41px;
}
.mat-elevation-z8{
width: 140%;

}
.action{
    font-size: 27px;
    font-family: 'Noto Serif', serif;
    
}
mat-paginator{
    margin-left: 150px;
width: 88.5%;
height: 54px;
margin-top: -70px;
}
h3{
    margin-top: 9px;
    font-size: 17px;
    color: white;

}
h5{
margin-top: 15px;
}
.container{
    width: 65%;
    margin-left: 290px;
    height: auto;
}