h1{
    margin-top: 20px;
    text-align: center;
    color: brown;

}
h3{margin-top: 55px;
text-align: center;

}
.container{

    display: center;
    margin-top: 70px;
    margin-left: 120px;
    // margin: -40px;
    // text-align: center;

img{
    // margin-top: 90px;
    margin-left: 200px;
    display: center;
//   margin-left: auto;
  margin-right: auto;
  width: 30%;

}

a{
    // margin: 30px;
    margin-right: 20px;
}

h3{
    // display:inline-block;
    margin-left: 140px;
    color: white ;
    font-style: solid ;
    align-content: center;
    margin-top: 8px;

}
}

.container3{
    position: absolute;
    top: 65%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    margin-left: -220px;
  



a{
    margin: 30px;
    // margin-right: 0px;
}

h3{
    display:block;
    margin-left: -60px;
    color: white ;
    font-style: solid ;
    align-content: center;
    margin-top: 7px;
}
}
.container4{
    position: absolute;
    top: 65%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-left: 180px;
    margin-top: 30px;
    

    h3{
        display:block;
        margin-left: -40px;
        color: white ;
        font-style: solid ;
        align-content: center;
        margin-top: 7px;
    }
}
