.container{
    
    margin-top: 10px;
    margin-left: 170px;

img{
    margin-top: 90px;
    margin-left: 100px;
}
a{
    margin: 30px;
    margin-right: 20px;

}

h3{
    display:block;
    margin-left: 110px;
    color: black ;
    font-style: solid ;
}
}
.container2{
    
    // margin-top: 20px;
    margin-left: 170px;

img{
    margin-top: 90px;
    margin-left: 100px;
}
a{
    margin: 30px;
    margin-right: 20px;

}

h3{
    display:block;
    margin-left: 110px;
    color: black ;
    font-style: solid ;
}
}

.container3{
    
    // margin-top: 20px;
    margin-left: 170px;

img{
    margin-top: 90px;
    margin-left: 30px;
}
a{
    margin: 30px;
    margin-right: 20px;

}

h3{
    display:block;
    margin-left: 50px;
    color: black ;
    font-style: solid ;
}
}