// // h1{
// //     margin-top: 20px;
// //     text-align: center;
// //     color: brown;

// // }
// // h3{margin-top: 55px;
// // text-align: center;

// // }
// // .container{

// //     display: center;
// //     margin-top: 70px;
// //     margin-left: 120px;
// //     // margin: -40px;
// //     // text-align: center;

// // img{
// //     // margin-top: 90px;
// //     margin-left: 200px;
// //     display: center;
// // //   margin-left: auto;
// //   margin-right: auto;
// //   width: 30%;

// // }

// // a{
// //     // margin: 30px;
// //     margin-right: 20px;
// // }

// // h3{
// //     // display:inline-block;
// //     margin-left: 140px;
// //     color: white ;
// //     font-style: solid ;
// //     align-content: center;
// //     margin-top: 8px;

// // }
// // }

// // .container3{
// //     position: absolute;
// //     top: 65%;
// //     width: 100%;
// //     text-align: center;
// //     font-size: 18px;
// //     margin-top: 30px;
// //     margin-left: -220px;
  



// // a{
// //     margin: 30px;
// //     // margin-right: 0px;
// // }

// // h3{
// //     display:block;
// //     margin-left: -60px;
// //     color: white ;
// //     font-style: solid ;
// //     align-content: center;
// //     margin-top: 7px;
// // }
// // }
// // .container4{
// //     position: absolute;
// //     top: 65%;
// //     width: 100%;
// //     text-align: center;
// //     font-size: 18px;
// //     margin-left: 180px;
// //     margin-top: 30px;
    

// //     h3{
// //         display:block;
// //         margin-left: -40px;
// //         color: white ;
// //         font-style: solid ;
// //         align-content: center;
// //         margin-top: 7px;
// //     }
// // }

// //
// // h1{
// //     margin-top: 20px;
// //     text-align: center;
// //     font-family: 'Noto Serif', serif;

// // }
// // h3{margin-top: 55px;
// // text-align: center;
// // font-family: 'Noto Serif', serif;

// // }
// // .container{

// //     margin-top: 70px;
// //     margin-left: 120px;
  
// //     font-family: 'Noto Serif', serif;
// //     font-size: 28px;

// // img{
// //     margin-left: 200px;
// //     display: center;
// //   margin-right: auto;

// // }

// // a{
// //     margin-right: 20px;
// // }

// // h3{
// //     margin-left: 180px;
// //     font-style: solid ;
// //     align-content: center;
// //     margin-top: 8px;
// //     color: #ffffff;


// // }
// // }

// // .container3{
// //     display: center;
// //     margin-top: 100px;
// //     margin-left: 40px;
    
// //     font-family: 'Noto Serif', serif;
// //     font-size: 28px;

// // img{
    
// //     margin-left: 250px;
// //     display: center;


// // }

// // a{
// //     margin: 30px;
// // }

// // h3{
// //     display:block;
// //     margin-left: -60px;
// //     color: black ;
// //     font-style: solid ;
// //     align-content: center;
// //     margin-top: 7px;

// // }
// // }
// // .provider{
// //     margin-top: -150px;
// //     margin-left:1200px ;
// // }
// // h4{
// //     margin-left: 12px;
// //     font-size: 28px;
// //     font-family: 'Noto Serif', serif;
// //     color: #ffffff;
// // }
// // .invoice{
// //     margin-left:800px;
// // }
// // .delivery{
// //     margin-left: 1200px;
// //     margin-top: -211px;

// // }
// // .mat{
// //     margin-left: 291px;
// //     font-size: 28px;
// //     font-family: 'Noto Serif', serif;
// // }
// // .inv{
// //     margin-left: 17px;
// // }
// // .del{
// //     margin-left: -10px;
// //     color:white;
// // }
// // .i{
// //     margin-top: -780px;
// // }
// // .text{
// //     position: absolute;
// //     top: 63%;
// //     width: 37%;
// //     text-align: center;
// //     font-size: 18px;
   
// //     color: white;
// //     font-family: 'New Tegomin', serif;
// //     margin-left:520px;
    
// //   }
// //   .inv{
// //       margin-top: -127px;
// //   }
// //   .mater{
// //     margin-top: -340px;
// //     margin-left: 19px;
// //   }
// //   .deliv{
// //       margin-left: 1200px;
// //       margin-top: 257px;
    
      
// //   }
// //   .d{
// //       margin-top: -340px;
// //       margin-left: -12px;
// //       color: #ffffff;
    
// //   }
  

// h1{
//     margin-top: 20px;
//     text-align: center;
//     font-family: 'Noto Serif', serif;

// }
// h3{margin-top: 55px;
// text-align: center;
// font-family: 'Noto Serif', serif;
// // color: white;


// }
// .container{

//     // display: center;
//     margin-top: 70px;
//     margin-left: 120px;
//     // margin: -40px;
//     // text-align: center;
//     font-family: 'Noto Serif', serif;
//     font-size: 28px;
    

// img{
//     // margin-top: 90px;
//     margin-left: 200px;
//     display: center;
// //   margin-left: auto;
//   margin-right: auto;
// //   width: 1;

// }

// a{
//     // margin: 30px;
//     margin-right: 20px;
// }

// h3{
//     // display:inline-block;
//     margin-left: 180px;
//     color: white;
//     font-style: solid ;
//     align-content: center;
//     margin-top: 8px;

// }
// }

// .container3{
//     display: center;
//     margin-top: 100px;
//     margin-left: 40px;
//     // margin: -40px;
//     // text-align: center;
//     font-family: 'Noto Serif', serif;
//     font-size: 28px;
    

// img{
//     // margin-top: 90px;
//     margin-left: 250px;
//     display: center;
// //   margin-left: auto;
// //   margin-right: auto;
// //   width: 16%;
  

// }

// a{
//     margin: 30px;
//     // margin-right: 0px;
// }

// h3{
//     display:block;
//     margin-left: -60px;
//     color: black ;
//     font-style: solid ;
//     align-content: center;
//     margin-top: 7px;

// }
// }
// .provider{
//     margin-top: -150px;
//     margin-left:1220px ;
// }
// h4{
//     margin-left: 12px;
//     font-size: 28px;
//     font-family: 'Noto Serif', serif;
//     color: white;

// }
// .invoice{
//     margin-left:800px;
// }
// .delivery{
//     margin-left: 1220px;
//     margin-top: -170px;
    

// }
// .mat{
//     margin-left: 292px;
//     font-size: 28px;
//     font-family: 'Noto Serif', serif;
//     color: white;

// }
// .inv{
//     margin-top: -340px;
//     margin-left:809px;
//     color: white;

// }
// .del{
//     margin-left: -21px;
//     color:white;
// }
// .i{
//     margin-top: -780px;
//     margin-left:790px;
// }
// .text{
//     position: absolute;
//     top: 57%;
//     width: 37%;
//     text-align: center;
//     font-size: 18px;
//     // margin-top: -180px;
//     // margin-left: 150px;
//     color: white;
//     font-family: 'New Tegomin', serif;
//     margin-left:520px;

//   }


footer{height: 62%;
    margin-bottom: -300px;}
    .aaa{
       margin-top: -214px;
       margin-left: 600px;
    }
    li.payments{
        margin-left: -280px;
    }
    .c{
        margin-left: 95px;
    }
    .pp{
        margin-left: -250px;
    }
    .del{
        margin-top: -17px;
        font-size: 18px;
    }
    .card-footer{
        height: 60px;
    }
    h6{
        margin-top: 19px;
        font-size: 18px;
    }
    .card-body{
        height: 150px;
    
    }
    .inner{
        margin-top: 100px;
    }
    h4{
        font-size: 21px;
        
      }

      .reg{
        margin-left: -650px;
      }
      .text-left{
      margin-left: -90px;
      width: 1050px;
      }
      .col-md-12{margin-top: 0px;
      
      }
      .col-md-4{
        margin-top: 40px;
        margin-right: 80px;
      }
      .line{
        margin-top: 155px;
      }
      .row.o_equal_col_md.mt48.mb96.text-left{
          margin-left:50px;
          margin: 40px;
      }
      .hero.feature{
          margin-top: 0px;
      }
     .inner{
         margin-top: -20px;
     }
     .feature_box.left.mt15{
         margin-left: 50px;
     }
     .first{
         margin-left: -80px;
     }
     footer{
         background-color: #212529;
     }