
footer{height: 62%;
    margin-bottom: -300px;}
  
    li.payments{
        margin-left: -500px;
    }
    .c{
        margin-left: 95px;
    }
    .pp{
        margin-left: -250px;
    }
    .del{
        margin-top: -16px;
        font-size: 16px;
        margin-left: -15px;
    }
    .card-footer{
        height: 60px;
    }
    h6{
        margin-top: 19px;
        font-size: 18px;
    }
    .card-body{
        height: 150px;
    
    }
    .inner{
        margin-top: 100px;
    }
    h4{
        font-size: 18px;
        
        
      }

      .text-left{
      margin-left: -90px;
      width: 1050px;
      }
      .col-md-12{margin-top: 0px;
      
      }
      .col-md-4{
        margin-top: 40px;
        margin-right: 80px;
      }
      .line{
        margin-top: 155px;
      }
      .row.o_equal_col_md.mt48.mb96.text-left{
          margin-left:50px;
          margin: 40px;
      }
      .hero.feature{
          margin-top: 0px;
      }
     .inner{
         margin-top: -20px;
         
     }
     .feature_box.left.mt15{
         margin-left: 50px;
     }
     .first{
         margin-left: -80px;
     }
     footer{
         background-color: #212529;
     }
     h6{
         color:#ADB5BD;
         margin-left: -9px;
         font-family: 'Noto Serif', serif;
        font-size: 16px;

     }
     .o_footer_title{
         color: white;
         
     }
     a{
        color:black;
        font-family: 'Noto Serif', serif;
        margin-right: -10px;

     }
     .an{
         color:#ADB5BD;
         font-family: 'Noto Serif', serif;

    
    }
   .tab{
       margin-left: -670px;
       margin-top: -240px;
   }
   .text-down{
       margin-left: 400px;
       font-family: 'Noto Serif', serif;
       font-size: 18px;
   }
   .branding{
       margin-left: 400px;
       margin-top: -220px;
   }
   .delivery{
       margin-left: 820px;
       margin-bottom: 80px;
       
   }

div.register{
    margin-left: -50px;
}
html{
    width: 100%;
}
h1.explore{
    margin-top: -18px;
    font-size: 25px;
    font-family: 'Noto Serif', serif;

}
.materials{
    margin-left: 100px;
}
.c{
    margin-left: -5px;
    border-radius:55%
}
.business{
    border-radius:55%;
}
.p{
    border-radius:55%;
}
.aaa{
    margin-top: -30px;
}
h5{margin-top: -168px;
    margin-left: 8px;
font-size: 18px; 
width: 150px;

}
h4.mat{
    margin-top: 31px;
}

.rec{
    margin-left:60px;
}
hr{
    border-top-color: #6c757d}
.small.text-muted.mb-4{
    font-family: 'Noto Serif', serif;
font-size: 15px;
}
.small.text-muted{
    font-family: 'Noto Serif', serif;
font-size: 15px;
}
span{
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    margin-bottom: 20px;
}
a[_ngcontent-spa-c127] {
    color: #ADB5BD;
    font-family: "Noto Serif", serif;
font-size: 14px;

}
.text-right.text-uppercase.mb-0{
    color: #000;
}
li.r{
    color:  #ADB5BD;
}
.o_footer_links.list-unstyled{
    color:  #ADB5BD;

}
h3{color: #ADB5BD;
margin-bottom: -24px;
margin-top: 8px;
font-size: 17px;}