<table>
    <tr>
        <td><a href="admin">
            <img alt="Stamp" src="/assets/3d-white-people-approved-rubber-stamp-25200287.jpeg"
            width="150" height="70"></a></td>
        <td><a href="bills">
            <img alt="Stamp" src="/assets/3d-white-people-with-folder-locked-key_58466-433.jpeg"
            width="150" height="70"></a></td>
        <td><a href="provider">
            <img alt="Stamp" src="/assets/folder-similar-to-mail-box-3d-icon-28033376.jpeg"
            width="150" height="70"></a></td>
    </tr>
</table>