body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  
  html,body{
    background-image: url('https://images.unsplash.com/photo-1575766684547-0dcebfa935a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1081&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
   .text-center.text-info{
     margin-top: 100px;
    
   }
  
   .text-info {
    color: white !important;
}
.text-info {
    color: white!important;
}
.btn-info:disabled {
  color: #fff;
  background-color: black;
  border-color: black;
 
}
.btn-info {
   color: #fff; 
   background-color: black; 
   border-color: black; 
}
.alert.alert-danger.success{
color: #000;
}
h2{color: white;
text-align: center;
font-size: 35px;
margin-bottom: -40px;
}

.card[_ngcontent-gby-c144] {
  height: 370px;
  margin-top: 90px;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.btn-dark.login{
  margin-top: 15px;
  margin-left: 433px;
  height: 40px;
  margin-bottom: -30px;
  background-color: blue;
}
h4{
  font-size: 20px;
  font-family: 'Noto Serif', serif;

}
.btn.btn-info.btn-md{
  margin-top: -50px;
  font-size: 20px;
text-align: center;

}
.btn.btn-info.btn-md[_ngcontent-sad-c129] {
  margin-top: -105px;
}
.buttons{
  margin-top: 60px;
}
h1{
  margin-bottom: 60px;
  font-family: 'Noto Serif', serif;

}
