@import '~bootstrap/dist/css/bootstrap.min.css';
@import './css/bills.css';
// @import 'D:\Java\final-project-angular2\src\assets\images\folder.jpeg';

.pointer{
    cursor:pointer;
}


html, body {
    height: 100%;
    margin: 0;
    }
    .wrapper {
    min-height: 100%;
    
    
    margin-bottom: -50px;
    }
    .footer,
    .push {
    height: 50px;
    }


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
